@page "/"

<PageTitle>Home - Todo List App</PageTitle>


<div class="container">
<h1>hbohatix project - 76840 </h1>
<br/>
    <AuthorizeView>
        <Authorized>
            <hbohatix76840.Shared.Todo.TodoList />
        </Authorized>
        <NotAuthorized>
            <h4>Please log in or register to start managing Your tasks.</h4>
        </NotAuthorized>
    </AuthorizeView>
</div>

